appdirs==1.4.4
black==19.10b0
boto==2.49.0
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
gunicorn==20.1.0
h11==0.12.0
idna==2.10
importlib-metadata==4.0.1
kiwisolver==1.3.1
matplotlib==3.4.1
mypy-extensions==0.4.3
numpy==1.20.2
oauthlib==3.1.0
pathspec==0.7.0
Pillow==8.2.0
pipenv==2020.11.15
pydantic==1.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
searchtweets-v2==1.0.7
six==1.15.0
starlette==0.13.6
TwitterSearch==1.0.2
urllib3==1.26.4
uvicorn==0.13.4
uvloop
httptools
virtualenv==20.4.4
virtualenv-clone==0.5.4
wincertstore==0.2
zipp==3.4.1